.rdw-option-wrapper {
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
  width: 1.867em;
  height: 1.867em;
}

.rdw-option-wrapper:hover {
  border-color: #000000;
}

.rdw-option-wrapper:active {
  border-color: #000000;
}

.rdw-option-active {
  border-color: #000000;
}

.rdw-option-disabled {
  opacity: 0.3;
  cursor: default;
}
