.rdw-history-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}

.rdw-history-dropdownoption {
  height: 40px;
  display: flex;
  justify-content: center;
}

.rdw-history-dropdown {
  width: 50px;
}
